:root {
  --color-cardapio: #ffb85a;
}

.fundo-pizzaria {
  background-image: url(../img/_pizza\ sua\ fome\ pede\ pizza\ instagram\ stories.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundo-configuration {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.fundo-cardapio {
  background-image: url(../img/Pizza\ quentinha\ pizzaria\ delivery\ popular\ preto\ e\ amarelo\ story\ do\ instagram.png);
  padding-top: 60px;
}

.container-login {
  border: none;
  display: flex;
  flex-direction: column;
}

.button-cta {
  width: 100%;
  margin-top: 20px;
}

.table-cardapio tr td {
  color: var(--color-cardapio);
}

.container-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 80%;
}

.flex {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.fundo-cardapio div h1 {
  color: var(--color-cardapio);
  text-transform: uppercase;
  margin-top: 50px;
}

.fundo-cardapio div a, .opcoes-cardapio li button {
  background-color: var(--color-cardapio);
  text-transform: uppercase;
  font-weight: bold;
}

.opcoes-cardapio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}











#pizza-list, #bebidas-list, #doces-list {
  list-style: none;
  padding: 0;
}

#pizza-list li, #bebidas-list li, #doces-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#pizza-list li:last-child, #bebidas-list li:last-child, #doces-list li:last-child {
  border-bottom: none;
}